# Para capturar información del usuario, utilice la función input()

In [6]:
print("Bienvenido al taller de Python en PILARES")
name = input("Introduce tú nombre ")
print("Bienvenido: " , name)

Bienvenido al taller de Python en PILARES
Introduce tú nombre Juan carlos
Bienvenido:  Juan carlos

# Trabajar con números
La función almacena un resultado como una cadena. Por lo tanto, es posible que el siguiente código no haga lo que desea que haga: input()

In [4]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(first_number + second_number)

Calculadora
Primer número: 1
Segundo número: 5
15

Probablemente quieres que este programa te responda con la suma pero dará un número diferente. ¿qué salió mal?

La explicación es que el programa toma ambos números como si fuesen 'cadenas de texto'. Para que el cálculo funcione correctamente, debe cambiar esas cadenas a números mediante la función int(). Modificando la última línea del programa a utilizar, puede resolver el problema:

In [5]:
print(int(first_number) + int(second_number))

6

# EJERCICIO 1
Construir un convertidor de unidades de centimetros a metros (el formato del resultado deberá ser: X cm son igual a X metros, según el usuarios ingrese la cantidad a convertir).

In [11]:
#Tu código aquí
print("Convertidor de unidades de centimetros a metros")
cen=float(input("Ingresa la cantidad de centimetros a convertir "))
met=cen/100
print(cen,"cm son igual a ",met,"metros" )

Convertidor de unidades de centimetros a metros
Ingresa la cantidad de centimetros a convertir 150
150.0 cm son igual a  1.5 metros

# EJERCICIO 2
Exploremos cómo podemos crear un programa que pueda calcular la distancia entre dos planetas EN KILOMETROS. Comenzaremos conociendo las distancias de planetas al sol: 

Planeta Y Distancia al sol

Mercurio 57900000

Venus 108200000

Tierra 149600000

Marte 227900000

Júpiter 778600000

Saturno 1433500000

Urano 2872500000

Neptuno 4495100000

PASOS:

a) Lee los valores

Usando input, agrega el código para leer la distancia del sol para cada planeta, considerando 2 planetas.

b)Convertir a número

Debido a que input devuelve valores de cadena, necesitamos convertirlos en números. Para nuestro ejemplo, usaremos int

c)Realizar el cálculo y convertir a valor absoluto

Con los valores almacenados como números, ahora puedes agregar el código para realizar el cálculo, restando el primer planeta del segundo. Debido a que el segundo planeta podría ser un número mayor, usarás abs para convertirlo a un valor absoluto

d)Prueba tu aplicación

In [14]:
#Tu código aquí
planeta1=float(input("ingresa la distancia al sol del primer planeta"))
planeta2=float(input("ingresa la distancia al sol del segundo planeta"))
distancia_entre_los_planetas=abs(planeta1-planeta2)
print("Distancia entre los dos planetas es de ",distancia_entre_los_planetas,"km")

ingresa la distancia al sol del primer planeta 57900000
ingresa la distancia al sol del segundo planeta 4495100000
Distancia entre los dos planetas es de  4437200000.0 km

# Soluciones propuestas

In [ ]:
numero1 = int(input('ingresa el numero de metros '))
print('El total de centrimetros en ',numero1," metros es de ",numero1*100)

In [ ]:
distancia1 = int(input('ingresa la distancia al sol del primer planeta'))
distancia2 = int(input('ingresa la distancia al sol del segundo planeta'))
distancia_entre_planetas = abs(distancia1-distancia2)
print(distancia_entre_planetas)